<article class="clearfix">
  <header class="clearfix center">
    <h1>
      {{ include.prefix }} {{ include.meetup.time | date: "%B %d, %Y" }}
    </h1>
  </header>
  <section class="clearfix">
    <div class="three-cols clearfix">

      {% for talk in include.meetup.talks | limit: 3 %}
      <div class="speaker">
        {{ talk | markdownify }}
      </div>
      {% endfor %}

      {% assign taken = include.meetup.talks | size %}

      {% for i in (taken..2) %}
        {% include empty.html %}
      {% endfor %}

    </div>
  </section>
</article>
