footer
  .clearfix.three-cols
    div
      h5 Get in touch
      ul
        li
          | Follow Berlin.JS on 
          a(href='http://twitter.com/berlinjs', title='Follow us on Twitter') Twitter
        li
          | Join our 
          a(href='http://groups.google.com/group/js-berlin', title='Join our Mailinglist') Mailinglist
        li
          | Watch the code on 
          a(href='https://github.com/berlinjs/berlinjs.org', title='Berlin.JS code on Github') Github
        li
          | Browse the archive of 
          a(href='./archive.html', title='Slides from previous meetups') Slides
        li
          br
          a.smallbutton(href=site.submitUrl, title='Submit your own talk') Submit your talk
    div
      h5 The team
      p
        | Berlin.JS is organized by 
        a(href='http://www.twitter.com/rmehner', title='Follow Robin on\
        Twitter') Robin Mehner 
        | ,
        a(href='http://www.twitter.com/janl', title='Follow Jan on\
        Twitter') Jan Lehnardt 
        | & 
        a(href='http://www.twitter.com/theophani', title='Follow Tiffany on\
        Twitter') Tiffany Conroy 
        | . Design by 
        a(href='http://www.twitter.com/m_besser', title='Follow Matti on Twitter') Matti Besser
        | .
    div
      h5 Supporters
      p
        | Our Meetups are hosted by 
        a(href='http://www.co-up.de', title='co.up Coworking') co.up
        | .
  .clearfix.one-col
    div
      h5 Code of Conduct
      p
        | Long story short:
        strong 
          | Be awesome to each other.
      p
        | Our goal is to have an awesome and inclusive community meetup where people meet,
        | hang out together, chat, listen to talks, exchange ideas and make new friends.
        | Any harmful or discriminating behaviour will not be tolerated and results
        | in the offending person being expelled from the meetup.