!!! 5
head
  meta(charset='utf-8')
  title BerlinJS — Berlin's finest JavaScript Usergroup
  meta(name='description', content='Berlin.JS is a usergroup focused on JavaScript and related topics. We meet regularly on the 3rd Thursday each month at 7p.m. at co.up Offices, Adalbertstraße 7-8 in Berlin-Kreuzberg.')
  meta(name='keywords', content='JavaScript, Usergroup, Berlin, Programming, JS')
  meta(name='author', content='Berlin.JS')
  meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1')
  //
     disable cache completely for now 
  meta(http-equiv='cache-control', content='max-age=0')
  meta(http-equiv='cache-control', content='no-cache')
  meta(http-equiv='expires', content='0')
  meta(http-equiv='expires', content='Thu, 01 Jan 1970 13:37:00 GMT')
  meta(http-equiv='pragma', content='no-cache')
  link(rel='shortcut icon', href='favicon.ico')
  link(rel='stylesheet', media='screen', href='css/style.css?v=1')
  link(rel='stylesheet', media='print', href='css/print.css?v=1')
  link(rel='stylesheet', media='only screen and (min-width: 480px)', href='css/480.css?v=1')
  link(rel='stylesheet', media='only screen and (min-width: 768px)', href='css/768.css?v=1')
  link(rel='stylesheet', media='only screen and (min-width: 992px)', href='css/992.css?v=1')
  link(rel='stylesheet', media='only screen and (min-width: 1382px)', href='css/1382.css?v=1')
  link(rel='stylesheet', media='only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)', href='css/2x.css?v=1')
  link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
  link(rel='apple-touch-icon-precomposed', href='http://berlinjs.org/apple-touch-icon-precomposed.png')
  link(rel='apple-touch-icon', sizes='72x72', href='http://berlinjs.org/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='114x114', href='http://berlinjs.org/apple-touch-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='144x144', href='http://berlinjs.org/apple-touch-icon-144x144.png')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
header.clearfix(role='banner')
  .clearfix
    a(href='/', title='BERLIN.JS')
      h1.logo
    h3.ug-info.triangle-border.left
      | Berlin.JS is a usergroup focused on JavaScript and related topics. We meet regularly on
      | the 3rd Thursday each month at 7p.m. at
      a(href='http://co-up.de', title='co.up Coworking') co.up Offices
      | ,
      | Adalbertstraße 7-8 in Berlin-Kreuzberg.
.content.clearfix(role='main')
  article.clearfix
    header.clearfix.center
      h1
        | Next meetup on January 16
        sup th
    section.clearfix
      // TALKS

      // 
        THIS IS HOW A TALK ABSTRACT LOOKS LIKE
        .speaker
          h3 Your topic
            h5
              a(href='http://twitter.com/your_twitter_handle') Your Name
            p
              | Description
            p
              | Further description
                  
      .three-cols.clearfix
        != content
footer
  .clearfix.three-cols
    div
      h5 Get in touch
      ul
        li
          | Follow Berlin.JS on
          a(href='http://twitter.com/berlinjs', title='Follow us on Twitter') Twitter
        li
          | Join our
          a(href='http://groups.google.com/group/js-berlin', title='Join our Mailinglist') Mailinglist
        li
          | Watch the code on
          a(href='https://github.com/berlinjs/berlinjs.org', title='Berlin.JS code on Github') Github
        li
          | Browse the archive of
          a(href='./archive.html', title='Slides from previous meetups') Slides
    div
      h5 The team
      p
        | Berlin.JS is organized by
        a(href='http://www.twitter.com/rmehner', title='Follow Robin on\
        Twitter') Robin Mehner
        | ,
        a(href='http://www.twitter.com/janl', title='Follow Jan on\
        Twitter') Jan Lehnardt
        | &
        a(href='http://www.twitter.com/theophani', title='Follow Tiffany on\
        Twitter') Tiffany Conroy
        | . Design by
        a(href='http://www.twitter.com/m_besser', title='Follow Matti on Twitter') Matti Besser
        | .
    div
      h5 Supporters
      p
        | Our Meetups are hosted by
        a(href='http://www.co-up.de', title='co.up Coworking') co.up
        | .
  .clearfix.one-col
    div
      h5 Code of Conduct
      p
        | Long story short:
        strong Be awesome to each other.
      p
        | Our goal is to have an awesome and inclusive community meetup where people meet,
        | hang out together, chat, listen to talks, exchange ideas and make new friends.
        | Any harmful or discriminating behaviour will not be tolerated and results
        | in the offending person being expelled from the meetup.
script(src='//www.google-analytics.com/ga.js', async='')
script.
  var _gaq = [['_setAccount','UA-25036346-1'],['_trackPageview']];
  (function(d, t) {
  var g = d.createElement(t),
  s = d.getElementsByTagName(t)[0];
  g.async = g.src = '//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g, s);
  }(document, 'script'));